<div id="content">
  <mat-form-field appearance="fill">
    <mat-label>ID du Pokémon</mat-label>
    <input matInput type="text" id="pokeId" name="pokeId" [(ngModel)]="id">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Filtre</mat-label>
    <input matInput type="text" id="pokeFilter" name="pokeFilter" placeholder="Ex. Pikachu, Bulbizarre..."
           [(ngModel)]="filterValue">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select [(ngModel)]="id">
      <mat-option *ngFor="let pok of getPokemons() | filterPokemonPipe: filterValue"
                  [value]="pok.id">{{pok.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onGo()">Go !</button>
  <app-pokemon-info></app-pokemon-info>
</div>
